<div class="container">
	<div class="row">
		<div class="column">
			<img class="mainSize" [src]="mainURL | async">
		</div>
		<div class="column">
			<h1>{{ productName }}</h1>
			<p type="button" (click)="goToAccount()">Sold by: {{ this.displayName }}</p>
			<p>Price: ${{ price }}</p>
			<h5>Description: </h5>
			<h6>{{ description }}</h6>
			<button class="btn btn-primary btn-dark">Add to bag</button><br><br>
			<div *ngIf="this.isAuthenticated">
				<button class="btn btn-primary btn-dark" (click)="delete(user)">Delete</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div *ngFor="let url of postList">
			<div class="small-column">
				<img class="resized" [src]="url | async"> 
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
