<app-header></app-header>
<router-outlet></router-outlet>
<div class="content-section">
	<div class="container">
		<div class="media">
			<img id="profile" class="rounded-circle account-img" [src]="this.profileSrc | async">
		</div>
		<div class="media-body" *ngIf="auth.user | async as user">
			<h4 class="text-secondary">{{ this.displayName }}</h4>
			<p class="text-secondary">{{ this.bio }}</p>
			<h5 class="text-secondary" style="float: left; padding-right: 10px">Followers: {{ this.followers }}</h5>
			<h5 class="text-secondary" style="float: left">Following: {{ this.following }}</h5>
			<br>
			<hr>
			<button type="button" class="btn btn-primary btn-large btn-dark" (click)="unFollowUser(user)" *ngIf="isFollowing && !isOwner">Following</button>
			<button type="button" class="btn btn-primary btn-large btn-dark" (click)="followUser(user)" *ngIf="!isFollowing && !isOwner">Follow</button>
		</div>
	</div><br>
	<hr>
</div>
<div class="container">
<div class="column" *ngFor="let post of postList">
	<img class="resized" [src]="post.url | async" (click)="this.goTo(post.id)">
</div>
</div>
	

