{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Open Market</h1>
			<p class="lead">Build Your Personal Online Retail Profile</p>
			<a class="btn btn-primary btn-lg" role="button" href="#">Get Started </a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
				<img src="https://source.unsplash.com/random/399x299" width="100%">
				insert statement
			</div>
			<div class="col">
				<img src="https://source.unsplash.com/random/400x300" width="100%">
				insert statement
			</div>
			<div class="col">
				<img src="https://source.unsplash.com/random/401x301" width="100%">
				insert statement
			</div>
		</div>
	</div>
{% endblock content %}
