<app-header></app-header>
<router-outlet></router-outlet>
<div class="content-section" *ngIf="auth.user | async as user">
	<div class="container">
		<div class="media">
			<img id="profile" class="rounded-circle account-img" [src]="this.profileSrc | async">
		</div>
		<div class="media-body">
			<h4 class="text-secondary">{{ user.displayName }}</h4>
			<p class="text-secondary">{{ user?.bio }}</p>
			<button type="button" class="btn btn-primary btn-large btn-dark" (click)="editProfile()">Edit Profile</button>
			<button type="button" class="btn btn-primary btn-large btn-dark" style="margin-left: 10px;" routerLink="/create_post">Create Post</button>
		</div>
	</div><br>
	<hr>
</div>
<div class="container">
<div class="column" *ngFor="let post of postList">
	<img class="resized" [src]="post.url | async" (click)="this.goTo(post.id)">
</div>
</div>
	

