<app-header></app-header>
<router-outlet></router-outlet>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Open Market</h1>
    <p class="lead">Build Your Personal Online Retail Profile</p>
    <a class="btn btn-primary btn-lg" role="button" routerLink="login">Get Started </a>
  </div>  
</div> 
<div class="container"> 
  <h3>Shop by Brands</h3><br>
  <div class="row">
    <div class="col">
      <img src="https://source.unsplash.com/random/399x299" width="100%">
      insert statement
    </div>
    <div class="col">
      <img src="https://source.unsplash.com/random/400x300" width="100%">
      insert statement
    </div>
    <div class="col">
      <img src="https://source.unsplash.com/random/401x301" width="100%">
      insert statement
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3 style="text-align: center;">What's New</h3>
          <ul class="list-group list-group-flush" style="text-align: center">
            <li class="list-group-item list-group-item-light">Trending Products</li>
            <li class="list-group-item list-group-item-light">Trending Users</li>
            <li class="list-group-item list-group-item-light" routerLink="register">Create Profile</li>
          </ul>
        <br>
        <h3 style="text-align: center;">Men</h3>
          <ul class="list-group list-group-flush" style="text-align: center">
            <li class="list-group-item list-group-item-light">Shoes</li>
            <li class="list-group-item list-group-item-light">Hoodies</li>
            <li class="list-group-item list-group-item-light">T-Shirts</li>
          </ul>
        <br>
        <h3 style="text-align: center;">Women</h3>
          <ul class="list-group list-group-flush" style="text-align: center">
            <li class="list-group-item list-group-item-light">Shoes</li>
            <li class="list-group-item list-group-item-light">Hoodies</li>
            <li class="list-group-item list-group-item-light">T-Shirts</li>
          </ul>
      </div>
  </div>
  </div>
  <br>
  <h3>Top Picks</h3><br>
  <div class="row" style="width: 68.5%">
    <div class="col">
      <img src="https://source.unsplash.com/random/399x299" width="100%">
      insert statement
    </div>
    <div class="col">
      <img src="https://source.unsplash.com/random/400x300" width="100%">
      insert statement
    </div>
    <div class="col">
      <img src="https://source.unsplash.com/random/401x301" width="100%">
      insert statement
    </div>
  </div>
  <br>
  <h3>New Users</h3><br>
  <div class="row" style="width: 68.5%">
    <div class="col">
      <img src="https://source.unsplash.com/random/399x299" width="100%">
      insert statement
    </div>
    <div class="col">
      <img src="https://source.unsplash.com/random/400x300" width="100%">
      insert statement
    </div>
    <div class="col">
      <img src="https://source.unsplash.com/random/401x301" width="100%">
      insert statement
    </div>
  </div>
</div>

